<Configuration status="debug">
    <Properties>
        <Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} %-5level %m %X%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{${LOG_PATTERN}}"/>
        </Console>

        <File name="File1" fileName="kijelentes.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <MarkerFilter marker="Kijelentes" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="File2" fileName="kerdes.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <MarkerFilter marker="Kerdes" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="File3" fileName="no.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <NoMarkerFilter onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="File4" fileName="Győrfi_Pál.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <TimeFilter start="20:00:00" end="05:00:00" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="File5" fileName="feltetelezes.log" append="false">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <MarkerFilter marker="Feltetelezes" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File1"/>
            <AppenderRef ref="File2"/>
            <AppenderRef ref="File3"/>
            <AppenderRef ref="File4"/>
            <AppenderRef ref="File5"/>
        </Root>
    </Loggers>




</Configuration>